#!/bin/sh

cd {{ django_base_dir }}

source {{ virtualenv_dir }}/bin/activate
source {{ virtualenv_dir }}/bin/postactivate

exec celery beat -A {{ django_project_module }} \
    --pidfile= \
    --schedule={{ celery_beat_schedule_file }} \
    --loglevel=debug
